<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <h2>Log In</h2>
    
    <form class="container" action="/login" method="post">
        <input type="text" name="name" autocomplete="username" placeholder="Name" required>
        <input type="password" name="password" autocomplete="current-password" placeholder="Password" required>
        <input type="submit" value="Log In">
    </form>

    <a href="/signup">Make an account</a>
</body>
</html>